{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
<div class='text-center'>
    <h1>{{ title }}</h1>
    <h1>In the end, all this will comlapse into nothing</h1>
</div>

<div class='row text-center'>
  <div class='col'>
      <img src="{% static 'img/beach.jpg' %}" class='img-fluid' />
      <p>{{ content }}</p>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class='row text-center'>
  <div class='col'>
  <h1>Authenticated Premium</h1>
  {{ premium_content }}
  </div>
</div>
{% endif %}


{% endblock %}